
/* Sivun Runko */

body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/trackfade.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(99, 66, 17);
}

/* Otsikot */

.otsikko{
    color:rgb(54, 94, 131);
    margin:4px;
    text-shadow: 2px 2px 4px black;
}
.alaotsikko {
    color:rgb(54, 94, 131);
    margin:4px;
}

/* Sisältö */

h1,h2,h3,h4,h5,h6,p {font-family: "Montserrat", sans-serif}
.sisalto {
    background-color: rgb(255, 255, 255, 0.8);
    color:rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px;
    font-size: 1rem;
    max-width: 100%;
}
.copyright{
    font-size: 10px;
    text-align: center;
}
.otsaicon {
    color: rgb(54, 94, 131);
}

/* Valikko */    

.navbar {
    width: 100%;
    height: auto;
    padding: 6px;
    background-color:transparent;
    font-size: 1rem; 
    border-radius: 8px;        
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(44, 77, 109);
}
.nav-link:hover{
    background-color: rgb(219, 199, 132, 0.8);
    border-radius: 6px;
      
}
.zoom:hover {
    transform: scale(1.1);
    transition: 1s; 
  }
@media screen and (max-width: 767px) {
.navbar-nav {
       float: left;
       background-color: rgba(219, 199, 132, 0.5);
       border-radius: 6px;
    }
}

/* Sosiaalisen median linkit */

.fa-facebook-square {
    color: rgb(24, 119, 242);
    padding-top: 20px;
    padding-right: 10px;
}
.fa-instagram {
    color: rgb(233, 89, 80);
    padding-top: 20px;
    padding-right: 10px;
}
.fa-twitter {
    color: rgb(29, 161, 242);
    padding-top: 20px;
   
}
.container {
    max-width:unset;
}

/* Erikois linkit */
.paluu {
    color: (44, 77, 109);
}

/* Lomake */

.tiedot {
    max-width: 40%;
}

textarea {
    max-width: 60%;
}
@media screen and (max-width: 767px){
    .tiedot {
        max-width: 100%;
    }
    textarea {
        max-width: 100%;
    }
   
}
/* Lista */

ul {font-family: "Montserrat", sans-serif}


/* Karuselli */

.carousel {
    margin: auto;
    width:90%;
    
  }

  /* Kuvat */
  .pystykuva {
    float: right;
    max-height: 400px;
    height: 100%;
    width:auto;
    margin: 10px;
  }
  .vaakakuva {
    float: right;
      max-width: 400px;
      margin: 10px;
      width: 100%;
      height:auto;
  }
  