
/* Sivun Runko */

body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/trackfade.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(248, 250, 109);
}

/* Otsikot */

.otsikko{
    color:rgb(54, 94, 131);
    margin:4px;
    text-shadow: 2px 2px 4px black;
}
.alaotsikko {
    color:rgb(54, 94, 131);
    margin:4px;
}

/* Sisältö */

h1,h2,h3,h4,h5,h6,p {font-family: "Montserrat", sans-serif}
.sisalto {
    background-color: rgb(255, 255, 255, 0.8);
    color:rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px;
    font-size: 1rem;
}

/* Valikko */    

.navbar {
    width: 100%;
    height: auto;
    padding: 6px;
    background-color:transparent;
    font-size: 1rem;         
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(54, 94, 131);
}
.nav-link:hover{
    background-color: rgb(219, 199, 132, 0.8);
    border-radius: 6px;   
}
.zoom:hover {
    transform: scale(1.1);
  }
@media screen and (max-width: 767px) {
.navbar-nav {
       float: left;
    }
}


/* Sosiaalisen median linkit */

.fa-facebook-square {
    color: rgb(24, 119, 242);
    padding-top: 20px;
    padding-right: 10px;
}
.fa-instagram {
    color: rgb(233, 89, 80);
    padding-top: 20px;
    padding-right: 10px;
}
.fa-twitter {
    color: rgb(29, 161, 242);
    padding-top: 20px;
   
}
.container {
    max-width:unset;
}